.vscode/**
.github/**
.vscode-test/**
artifacts/**
out/**
node_modules/**
src/**
test/**
CLAUDE.md
biome.jsonc
bun.lock
compose.yaml
.gitignore
.yarnrc
scripts/**
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.env
